body {

    background-image: url(sheet1.jpg);
    background-size: 1000px;
    background-position: center center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center
}





.paper {

    background-image: url(paper.jpg);
    box-shadow: 1px 15px 20px 0px rgb(0, 0, 0, 0.5);
    position: absolute;
    transform: rotateZ(-5deg);
}

p {
    font-family: "Zeyada", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 29px;

}
.sixth-block {

    
    
    padding: 20px 100px;
    width: 300px;
    height: 300px;

}

.fifth-block {
      
    padding: 5px 40px; 
    width: 300px;
    
    
    

}

.fourth-block{
    padding: 5px 40px;
    width: 400px;
    
}

.third-block{
    padding: 5px 30px;
    width: 300px;
}

.second-block{

    padding: 5px 30px;
    width: 500px;
}

.first-block {

    padding: 5px 30px ;
    width: 400px;
}

.seventh-block {

    padding: 5px 30px;
    width: 400px;
}
.Eight-block {

    padding: 5px 30px;
    width: 500px;
}
.ninth-block {

    padding: 2px 30px;
    width: 400px;
    
}
.pookie {
    
      width: 400px;
      margin-top: -20px;
      padding-bottom: 20px ;
      
}
.tenth-block {

    padding: 2px 30px;
    width: 400px;
}
.eleventh-block {

    
    width: 190px;
    height: 190px;
    border-radius: 50%;

}
.heart {
    
    padding: 10px;
    width: 170px;
    text-align: center;
    border-radius: 50%;
}

.Heading {

    font-size: 45px;

}

